<%= error_messages_for :news %>

<% form_for @post do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Body</b><br />
    <%= textile_editor :post, :body %>
  </p>

  <p>

    <%= f.submit new_or_create? ? "Create" : "Edit" %>
  </p>
<%= textile_editor_initialize -%>
<% end %>
